-r requirements.txt

# lint/format/types
black
flake8
pytype
pre-commit

#from demo
# action to create report PR
pytablewriter

# lint/format/types
black
pytest-mock
# for database cleanup during testing
sqlalchemy

# install & pin for networkx
decorator